div{
    border: 2px solid black;
    height: 250px;
    width: 250px;
    display: inline-block;
    position: static;
    top: 100px;
    left: 50px;
}

#relative_middle{
    position: relative;
    top: 20px;
    left: 50px;
}

#absolute_middle{
    position: absolute;
    top: 20px;
    left: 50px;
}

#fixed_middle{
    position: fixed;
    top: 20px;
    left: 50px;
}
