section{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin: 50px;
    overflow: scroll;
}

.wrapper{
    border:1px solid black;
    padding:10px;
  }
  .left {
    border: 1px solid black;
    clear: right;
  }
  .black {
    float: right;
    margin: 0;
    background-color: black;
    color: #fff;
    width: 20%;
  }
  .red {
    float: right;
    margin: 0;
    background-color: pink;
    width:20%;
  }
  p {
    width: 50%;
  }
  